.left {
  background-color: #7373ec;
  color: #fefefe;
  display: inline-block;
  height: 300px;
  margin: 10px;
  text-align: center;
  width: 300px;
}

.right {
  background-color: #e68080;
  color: #fefefe;
  display: inline-block;
  height: 300px;
  margin: 10px;
  text-align: center;
  width: 300px;
}

.bottom {
  background-color: #80e68e;
  color: #000000;
  display: block;
  height: 300px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 620px;
}
